body {
  background-color: antiquewhite;
  height: 100%;
  margin: 0;
}
.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}
.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 10px solid grey;
}
.results {
  font-size: 3em;
  text-align: center;
}
.choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin-bottom: 9em;
  margin-top: 2em;
  height: 100%;
}
.instructions {
  text-align: center;
  font-size: 2em;
  font-weight: 400;
}
button {
  height: 4rem;
  width: 10rem;
  background-color: red;
  font-size: 2em;
  font-weight: 800;
  color: white;
  border-radius: .5rem;
  box-shadow: 3px 2px 1px black;
  border: none;
  cursor: pointer;
}
button::hover {
  background-color: darkred;
}
div.inactive {
  display: none;
}
.choices-inner {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.choice {
  display: flex;
  width: 30%;
  background-color: grey;
  color: white;
  align-items: center;
  justify-content: center;
  height: 20vh;
  font-size: 2em;
  font-weight: 800;
  cursor: pointer;
  border-radius: .5rem;
}
.choice:hover {
  background-color: black;
}
.footer {
  text-align: center;
  background-color: rgb(56, 56, 56);
  padding: 1rem 1rem;
  color: white;
  font-weight: 800;

}